@font-face { 
    font-family: Peste;
    src: url(OldLondon.ttf);
}
* {
    margin: 0%;
}
body {
    overflow-x: hidden;
}
header {
    height: 200px;
    width: 95vw;
    padding: 90px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.h1_logo {
    background-color: black;
}
.logo {
    font-size: 150px;
    font-family: Peste;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    width: 100%;
}
.peste {
    color: white;
}
h2 {
    color: white;
}
.capitulo1 {
    background-color: black;
    padding: 30px;
}
.capitulo2 {
    background-color: rgb(71, 70, 70);
    padding: 30px;
}
.capitulo3 {
    background-color: black;
    padding: 30px;
}
.capitulo4 {
    background-color: rgb(71, 70, 70);
    padding: 30px;
}
.botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#resposta {
    height: 300px;
    width: 80vw;
    border: 10px groove rgb(134, 134, 134);
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: pre-wrap;
    overflow: scroll;
    box-shadow: 5px 5px 10px black;
    padding: 15px;
}
button {
    border-radius: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
   transition: all 1s;
   font-weight: bold;
}
button:hover {
    color: white;
    background-color: black;
}
.bot {
    background-image: linear-gradient(black,rgb(71, 70, 70));
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 90px;
}
.rodape {
    color: black;
    font-weight: bold;
}
.titulo_rodape {
    color: white;
}
.parag_rodape {
    background-color: white;
    padding: 30px;
    border-radius: 50px;
}
.diego {
    padding: 9px;
    border-radius: 20px;
}
.rafael{
    padding: 9px;
    border-radius: 20px;
}
.luisa {
    padding: 9px;
    border-radius: 20px;
}
.pedcar {
    padding: 9px;
    border-radius: 20px;
}
.lara{
    padding: 9px;
    border-radius: 20px;
}
